/* 網頁基礎樣式清除 */
@import url('base/reset.css');

/* 定義 body 的樣式 */
@import url('layout/body.css');
/* 定義 class 為 navbar 的相關樣式 */
@import url('layout/navbar.css');
/* 定義 class 為 header 的相關樣式 */
@import url('layout/header.css');
/* 定義 class 為 main 的相關樣式 */
@import url('layout/main.css');
/* 定義 class 為 footer 的相關樣式 */
@import url('layout/footer.css');

/* 定義 class 為 btn 的相關樣式 */
@import url('elements/btn.css');
/* 定義 class 為 shiny-btn 的相關樣式 */
@import url('elements/shiny-btn.css');

/* 定義 class 為 feature-items 的相關樣式 */
@import url('components/feature-items.css');
