@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
body {
  /* 定義區塊背景顏色 */
  background-color: #21212e;
  /* 定義文字為白色 */
  color: white;
  /* 定義文字間距，本屬性會對子階層產生影響 */
  letter-spacing: 2px;
  /* 定義使用字體，本屬性會對子階層產生影響 */
  font-family: 'Noto Sans TC', sans-serif;
  /* 定義文字的行高，本屬性會對子階層產生影響 */
  line-height: 1.5;
}

body::before {
  /* 設定訂位方式為絕對定位 */
  position: absolute;
  /* 設定元素是一個區塊 */
  display: block;
  /* 設定區塊寬度 */
  width: 190vh;
  /* 設定區塊高度 */
  height: 190vh;
  /* 設定背景圖片的屬性連結 */
  background-image: url('../../images/mask.svg');
  /* 設定背景圖片的尺寸 */
  background-size: cover;
  /* 幫偽元素新增內容屬性 */
  content: '';
  /* 讓這個區塊以自己為基準平移 50% 往左跟上 */
  transform: translate(-50%, -50%);
}

h1 {
  /* 設定文字顏色 */
  color: #46c2ff;
  /* 設定文字大小 */
  font-size: 4rem;
}
