/* 給予 class="navbar" 的標籤樣式 */

.navbar {
  /* 定義本區塊的定位方式為絕對定位 */
  position: absolute;
  /* 定義若區塊與其他區塊重疊時，排序顯示的參數 */
  z-index: 100;
  /* 定義本區塊為彈性容器 */
  display: flex;
  /* 定義彈性容器內副軸至中 */
  align-items: center;
  /* 設定區塊靠外行距，只給單一參數會設定上下左右，兩個參數會是「上下」「左右」，四個參數會是「上」「右」「下」「左」 */
  margin: 25px 10%;
  /* 定義寬度 */
  width: 80%;
}

@media all and (max-width: 966px) {
  .navbar {
    /* 將定位點改成固定的方式，已讓他在畫面中固定位子 */
    position: fixed;
    /* 將靠上設定為 0，以確保區塊可以貼合在畫面的上方邊界 */
    top: 0;
    /* 將靠左設定為 0，以確保區塊可以貼合在畫面的左方邊界 */
    left: 0;
    /* 這邊的設定是因為 flex-direction 設定成了 column，因此要將他的 align-items 調整回來 */
    align-items: flex-start;
    /* 將 flex 的主副軸方向進行對調 */
    flex-direction: column;
    /* 因為這邊設定了 padding 後仍然想要 100vh 的高度設定，因此需要將 box-sizing 的麼是改為 border-box */
    box-sizing: border-box;
    /* 設定區塊靠外行距，只給單一參數會設定上下左右，兩個參數會是「上下」「左右」，四個參數會是「上」「右」「下」「左」 */
    margin: 0;
    padding: 40px;
    max-width: 320px;
    height: 100vh;
    background-color: #33335f;
    transition: transform 300ms;
    transform: translateX(-100%);
  }

  .navbar.active {
    /*  */
    transform: translateX(0);
  }
}

/* 定義 class 為 navbar 底下全部的 a 標籤 */
.navbar a {
  flex: 1;
  /* 定義元素靠右間距 */
  margin-left: 1rem;
  /* 設定文字對齊方式為置中 */
  text-align: center;
  /* 取消文字裝飾(a 標籤預設會有下底線) */
  text-decoration: none;
}

@media all and (max-width: 966px) {
  .navbar a {
    display: inline-block;
    margin-bottom: 1rem;
    /* 定義元素靠右間距 */
    margin-left: 0;
    font-size: 1.25em;
  }
}

.navbar__logo {
  /* 定義文字的顏色 */
  color: #46c2ff;
  /* 定義文字的重量(粗細度) */
  font-weight: bold;
  /* 定義文字的大小 */
  font-size: 1.2rem;
}

@media all and (max-width: 966px) {
  .navbar__logo {
    margin-bottom: 20px;
    /* 定義文字的大小 */
    font-size: 2rem;
  }
}

.navbar__link {
  /* 定義本區塊為行內的彈性容器 */
  display: inline-flex;
  /* 定義本區塊或平分到的行內剩餘空間 */
  flex: 1;
  /* 定義彈性容器內的項目靠到容器尾部 */
  justify-content: flex-end;
}

@media all and (max-width: 966px) {
  .navbar__link {
    /*  */
    flex: none;
    /*  */
    flex-direction: column;
  }
}

.navbar__link a {
  /* 定義文字為白色 */
  color: white;
}

.navbar__button {
  /* 定義本區塊為行內的彈性容器 */
  display: inline-flex;
  /* 定義元素靠右間距 */
  margin-left: 30px;
}

.navbar__button li {
  display: inline-flex;
}

@media all and (max-width: 966px) {
  .navbar__button {
    flex-direction: column;
    /* 定義元素靠右間距 */
    margin-left: 0;
  }
}
